<div class="bookshelf" fxLayout="column" >
  <div>
    <button (click)="backToProfile()" class="login">Hello {{userName}}!</button>
  </div>
  <div class='card'>
    <div>
      <div class='card-header'>
        {{pageTitle}}
      </div>

      <div class='card-body'>
        <div class='row'>
          <div class='col-md-2'>Filter by:</div>
          <div class='col-md-4'>
            <input type='text' [(ngModel)]='listFilter' />
          </div>
        </div>

        <div class='row' *ngIf='listFilter'>
          <div class='col-md-6'>
            <h6>Filtered by: {{listFilter}}</h6>
          </div>
        </div>
        <div class='table-responsive'>
          <table class='table' *ngIf='books.length'>
            <thead>
              <tr>
            <!---    <th>
                  <button class='btn btn-primary' (click)='toggleImage()'>
                    {{showImage ? 'Hide' : 'Show'}} Image
                  </button>
                </th>-->
                <th>Book Name</th>
              <!---  <th>Language</th> -->
                <th>Author</th>
                <th>Currently Reading</th>
              <!--  <th>Owner</th> 
                     <th>Price</th> 
                <th>5 Star Rating</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let book of filteredBooks'>
             <!---   <td>
                  <img *ngIf='showImage' [src]='book.imageUrl' [title]='book.bookName' [style.width.px]='imageWidth'
                    [style.margin.px]='imageMargin'>
                </td>-->
                <td>
                  <a [routerLink]="['/bookshelf', book.id]">
                    {{ book.bookName }}
                  </a>
                </td>
              <!-- <td>{{ book.language | uppercase | convertToSpaces:'-' }}</td> --> 
                <td><a href="https://en.wikipedia.org/wiki/{{book.author}}">{{ book.author }}</a></td>

                <td *ngIf="book.currentReader; else templateName">
                  {{book.currentReader}}
                </td>
                <ng-template #templateName><a style="background-color:green;">Available</a>
                </ng-template>

              <!---  <td>{{ book.reader}}</td>
                <td>{{ book.price | currency:'INR':'symbol'}}</td>
                <td>
                  <pm-star [rating]='book.starRating' (ratingClicked)='onRatingClicked($event)'>
                  </pm-star>
                </td> -->
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <button  (click)='newBookAdd()' type="button" class="btn btn-primary btn-lg btn-block">Add your book</button>
    </div>
  </div>
  <div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>