
     
     <section class="vh-100 bg-image" section class="vh-100 bg-image"
     style="background-image: url('https://images.pexels.com/photos/4855416/pexels-photo-4855416.jpeg?cs=srgb&dl=pexels-cottonbro-4855416.jpg&fm=jpg');">
     <div class="mask d-flex align-items-center h-100 gradient-custom-3">
       <div class="container h-100">
         <div class="row d-flex justify-content-center align-items-center h-100">
           <div class="col-12 col-md-9 col-lg-7 col-xl-6">
             <div class="card" style="border-radius: 15px;">
               <div class="card-body p-5">
                 <h2 class="text-uppercase text-center mb-5">Add your book</h2>
     <form [formGroup]="updateBookForm" autocomplete="off" (ngSubmit)="editBook(updateBookForm.value)" novalidate>
        <h3>Edit </h3>
        <i (click)="deleteBook()" class="login">Delete</i>

        <div class="form-group">
          <label for="bookName">Book Name:</label>
          <input formControlName="bookName" id="bookName" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label for="language">Language:</label>
          <input formControlName="language" id="language" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label for="author">Author:</label>
          <input formControlName="author" id="author" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <input formControlName="description" id="description" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <input formControlName="price" id="price" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label for="starRating">Rating:</label>
          <input formControlName="starRating" id="starRating" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label for="availableOn">Available On:</label>
          <select formControlName="availableOn" id="availableOn" class="form-control" >
            <option value="Amazon Kindle">Amazon Kindle</option>
            <option value="Storytel">Storytel</option>
            <option value="Audible">Audible</option>
            <option value="Home Library">Home Library</option>
           </select>

        </div>

        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control" />
        </div>



        <button type="submit" class="btn btn-primary">Save your changes</button>
        <button type="button" (click)="backToShelf()" class="btn btn-default">Bookshelf</button>
      </form>
          </div>
        </div>
      </div>
    </div>
  </div>

   